<% if flash[:notice] %>
 <P><% flash[:notice] %></p>
<% end %>
<h1>投稿一覧</h1>

<table>
  <thread>
    <tr>
      <th>投稿のタイトル</th>
      <th colspam="4"></th>
    </tr>
  </thread>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.title, user_path(user) %></td>
        <td><%= link_to "編集", edit_user_path(user) %></td>
        <td><%= button_to "削除", user_path(user), method: :delete, data: {turbo_confirm: "本当に削除しますか?"} %></td
      </tr>
    <% end %>
  </tbody>
</table>
        
<%= link_to '新規投稿', new_user_path %>
